.rings {
  position: relative;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  overflow: hidden;
  animation: pulseRing 2s ease-in-out infinite;
}

@keyframes pulseRing {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 2px #7b2def;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 0 6px #8c3bff;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 2px #6c23ef;
  }
}
