@import "tailwindcss";
 
@theme {
  --font-inter: var(--font-inter);
  --font-geist: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ancizar: var(--font-ancizar-serif);
  --font-instrument: var(--font-instrument-serif);
  --font-lily: var(--font-lily-script-one)
}

body{
  background-color: #050505;
}