@import "tailwindcss";
 
@theme {
  --font-inter: var(--font-inter);
  --font-geist: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ancizar: var(--font-ancizar-serif);
  --font-instrument: var(--font-instrument-serif);
  --font-lily: var(--font-lily-script-one)
}

body{
  background-color: #050505;
}
.featuredSwiper {
  padding-bottom: 70px;
}

.featuredSwiper .swiper-pagination {
  bottom: 0 !important;
}

.featuredSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #555;
  opacity: 1;
  transition: all .3s ease;
}

.featuredSwiper .swiper-pagination-bullet-active {
  width: 28px;
  border-radius: 9999px;
  background: white;
}